<div class="title_container">
  <!-- <h2>Start growing your wealth with</h2> -->
  <h2>Unlock the power of seamless coding with</h2>
  <h2>Letsconnect</h2>
  <!-- <p>All-in-one personal finance app that simplifies investment opportunities, expense</p> -->
  <p>All-in-one web app revolutionizing programming. Connect compilers effortlessly</p>
  <!-- <p>tracking, and financial news for users..</p> -->
  <p>collaborate and innovate like never before..</p>
</div>

<div class="container-fluid card_con row">
  <div class="col card col-md-6 col-lg-4 col-sm-12 card_in">
    <div class="icon rounded m- text-white">
      <i class="bi m-auto bi-lightning-charge"></i>
    </div>
    <div class="card-title">Intuitive User Interface</div>
    <div class="card-text">
      The user interface of VS Code is clean and intuitive, with a minimalistic
      design that maximizes screen real estate for coding.
    </div>
  </div>
  <div class="col card col-md-6 col-lg-4 col-sm-12 card_in">
    <div class="icon rounded m- text-white">
      <i class="bi m-auto bi-lightning-charge"></i>
    </div>
    <div class="card-title">
      Integrated Development Environment (IDE) Features
    </div>
    <div class="card-text">
      Despite being lightweight, VS Code provides powerful IDE features such as
      IntelliSense (code completion), debugging capabilities,
    </div>
  </div>
  <div class="col card col-md-6 col-lg-4 col-sm-12 card_in">
    <div class="icon rounded m- text-white">
      <i class="bi m-auto bi-lightning-charge"></i>
    </div>
    <div class="card-title">Cross-Platform Compatibility</div>
    <div class="card-text">
      VS Code is available for Windows, macOS, and Linux, ensuring a consistent
      development experience across different operating systems.
    </div>
  </div>
  <div class="col card col-md-6 col-lg-4 col-sm-12 card_in">
    <div class="icon rounded m- text-white">
      <i class="bi m-auto bi-lightning-charge"></i>
    </div>
    <div class="card-title">Active Development and Community Support</div>
    <div class="card-text">
      VS Code is backed by a dedicated team at Microsoft and enjoys strong
      community support. Regular updates and improvements are released to
      address bugs, introduce new features.
    </div>
  </div>
  <div class="col card col-md-6 col-lg-4 col-sm-12 card_in">
    <div class="icon rounded m- text-white">
      <i class="bi m-auto bi-lightning-charge"></i>
    </div>
    <div class="card-title">Customizable and Extensible</div>
    <div class="card-text">
      VS Code's architecture is highly customizable and extensible, allowing
      users to tailor the editor to their specific needs and preferences.
    </div>
  </div>
  <div class="col card col-md-6 col-lg-4 col-sm-12 card_in">
    <div class="icon rounded m- text-white">
      <i class="bi m-auto bi-lightning-charge"></i>
    </div>
    <div class="card-title">Powerful Debugging Capabilities</div>
    <div class="card-text">
      : VS Code offers robust debugging support for various programming
      languages and environments.
    </div>
  </div>
</div>
