<div class="footer container-md">
    <hr>
    <div class="iconContainer ">
        <p class="footerPara ms-1 "><i class="bi bi-c-circle me-1"></i>2024 Sourav kumar. All rights reserved.</p>
        <div class="icon">
            <a href="https://twitter.com/sk4118251" class="ic"><i class="bi ic bi-twitter-x "></i> </a>
            <a href="https://github.com/Sourav-8401" class="ic"><i class="bi ic bi-github mx-4"></i></a>
            <a href="https://www.linkedin.com/in/sourav-kumar-8542a620b/" class="ic"><i class="bi ic bi-linkedin me-1"></i></a>
        </div>
    </div>
</div>