<div class="main">
    <h1 class="slogan">All-in-one Compiler APP <br>you always wanted</h1>
    <!-- <p class="b_slogan">Gain control of your finances with our all-in-one Compiler app. Track your <br> -->
    <p class="b_slogan">Master your coding journey with our all-in-one Compiler app. Monitor your <br>
     opportunity, and expand your knowledge effortlessly.</p>
     
     
    <button class="btn start_btn rounded-pill  text-white mx-auto mt-3" id="startBtn">
        <a href="http://localhost:3002" class="nav-link text-white" routerLinkActive="active"> Get Started</a> 
    </button>
    <div class="imgContainer">
        <div class="back">
        </div>
         <img src="assets/images/img2.jpg" alt="image" class="img myimage ">
    </div>
</div>

